# Laravel files
/node_modules
/public/hot
/public/storage
/public/robots.txt
/public/sitemap.xml
/storage/*.key
/public/mix-manifest.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#Project files
.idea
localfiles
.DS_Store
webconfig.json
/public/js/control
/public/js/faq
/public/css/custom
